<!doctype html>
<html>
    <head>
        <title>Flask Chat</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
       {% endwith %}

       {% block content %}

       {% endblock %}
     
     <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
     <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    </body>
</html>
